<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/index.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Primary Meta Tags -->
  <meta name="title" content="Cat & Austin's Wedding">
  <meta name="description" content="May 20, 2023 | Lake Rabun - Lakemont, GA">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://catandaustin.com/">
  <meta property="og:title" content="Cat & Austin's Wedding">
  <meta property="og:description" content="May 20, 2023 | Lake Rabun - Lakemont, GA">
  <meta property="og:image" content="img/preview-image.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://catandaustin.com/">
  <meta property="twitter:title" content="Cat & Austin's Wedding">
  <meta property="twitter:description" content="May 20, 2023 | Lake Rabun - Lakemont, GA">
  <meta property="twitter:image" content="img/preview-image.png">

  <link rel="icon" type="image/png" href="img/favicon.png">
</head>