<button id="menu-btn" class="sm:hidden fixed right-4 bottom-4 px-6 py-3 text-white text-lg tracking-widest bg-green">
  <img src="/img/menu-alt.svg" class="inline-block mr-2 w-4">
  Menu
</button>

<nav id="mobile-menu" class="transition-all duration-700 ease-in-out opacity-0 invisible sm:hidden bg-tan-light fixed h-full w-full left-0 top-0 z-10 p-8">
  <ul id="menu-list" class="transition-all duration-700 ease-in-out pl-12 grid gap-7 grid-flow-row text-3xl">
    <li>
      <a href="/" class="inline-block px-4 py-2 transition ease-in-out underline decoration-transparent underline-offset-4
      tracking-wider hover:decoration-green decoration-1 duration-500">
        Details
      </a>
    </li>
    <li>
      <a href="/travel" class="inline-block px-4 py-2 transition ease-in-out underline decoration-transparent underline-offset-4
      tracking-wider hover:bg-green hover:bg-opacity-10 hover:decoration-green decoration-1 duration-500">
        Travel
      </a>
    </li>
    <li>
      <a href="/activities" class="inline-block px-4 py-2 transition ease-in-out underline decoration-transparent underline-offset-4
      tracking-wider hover:bg-green hover:bg-opacity-10 hover:decoration-green decoration-1 duration-500">
        Activities
      </a>
    </li>
    <li>
      <a href="https://www.zola.com/registry/catherineandaustin2023" target="_blank" class="inline-block text-center px-4 py-2 bg-tan-mid bg-opacity-30 transition ease-in-out underline decoration-transparent underline-offset-4
      tracking-wider hover:bg-green hover:bg-opacity-10 hover:decoration-green decoration-1 duration-500">
        Registry
        <img src="/img/arrow-up.svg" class="inline-block ml-2 w-4">
      </a>
    </li>
    <li>
      <a href="https://www.zola.com/wedding/catherineandaustin2023/rsvp" target="_blank" class="inline-block text-center px-4 py-2 bg-tan-mid bg-opacity-30 transition ease-in-out underline decoration-transparent underline-offset-4
      tracking-wider hover:bg-green hover:bg-opacity-10 hover:decoration-green decoration-1 duration-500">
        RSVP
        <img src="/img/arrow-up.svg" class="inline-block ml-2 w-4">
      </a>
    </li>
  </ul>
  <button id="close-btn" class="sm:hidden fixed right-4 z-20 bottom-4 px-6 py-3 text-white text-lg tracking-widest bg-green">
    <img src="/img/close.svg" class="inline-block mr-2 w-4">
    Close
  </button>
</nav>

<script>
  const menuBtn = document.querySelector('#menu-btn');
  const closeBtn = document.querySelector('#close-btn');
  const menu = document.querySelector('#mobile-menu');
  const menuList = document.querySelector('#menu-list');

  menuBtn.addEventListener('click', () => {
    menu.classList.remove('invisible');
    menu.classList.remove('opacity-0');
    menu.classList.add('opacity-100');
    menuList.classList.remove('pl-12');
  });
  closeBtn.addEventListener('click', () => {
    menu.classList.add('invisible');
    menu.classList.add('opacity-0');
    menu.classList.remove('opacity-100');
    menuList.classList.add('pl-12');
  });
</script>