@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tilda";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../fonts/Tilda-Grande.otf") format("opentype");
}

@font-face {
  font-family: "Hagerman";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../fonts/Hagerman_Font.ttf") format("truetype");
}

a {
  @apply underline-offset-4 transition ease-out;
  text-decoration: underline;
}

a:hover {
  @apply bg-green bg-opacity-10;
}

p {
  @apply font-serif leading-relaxed pr-12;
}